apiVersion: 1

contactPoints:
  - orgId: 1
    name: triage-webhook
    receivers:
      - uid: triage-service-webhook
        type: webhook
        settings:
          url: "{{ triage_service_webhook_url }}"
          httpMethod: POST
          maxAlerts: 0
        disableResolveMessage: false
  - orgId: 1
    name: gmail-smtp
    receivers:
      - uid: gmail-email
        type: email
        settings:
          addresses: "{{ grafana_contact_email }}"
          singleEmail: false
        disableResolveMessage: false
