apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:{{ prometheus_port }}
    isDefault: true
    uid: prometheus
    jsonData:
      timeInterval: "{{ prometheus_scrape_interval }}"

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:{{ loki_port }}
    uid: loki
    jsonData:
      derivedFields:
        - datasourceUid: jaeger
          matcherType: label
          matcherRegex: traceid
          name: TraceID
          url: '${__value.raw}'
          urlDisplayLabel: View Trace
          openInNewTab: true

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:{{ alertmanager_port }}
    uid: alertmanager
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:{{ jaeger_port_ui }}
    uid: jaeger
    jsonData:
      tracesToMetrics:
        datasourceUid: prometheus
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"
        tags:
          - key: service.name
            value: service
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"
        filterByTraceID: false
        filterBySpanID: false
        customQuery: true
        query: '{service_name="${__span.tags["service.name"]}"} |= "${__span.traceId}"'
        tags:
          - key: service.name
            value: service
      nodeGraph:
        enabled: true
