_format_version: "3.0"

services:
  - name: app-backend
    url: http://{{ app_backend_host }}:{{ app_frontend_port }}
    plugins:
      - name: opentelemetry
        config:
          traces_endpoint: "http://otel-collector:4318/v1/traces"
          header_type: w3c
          resource_attributes:
            service.name: "kong-gateway"
          propagation:
            extract:
              - w3c
              - b3
            inject:
              - w3c
            default_format: w3c
    routes:
      - name: api-route
        paths:
          - /api
        strip_path: false
      - name: actuator-route
        paths:
          - /actuator
        strip_path: false

  - name: app-frontend
    url: https://{{ cloudfront_domain }}
    routes:
      - name: frontend-route
        paths:
          - /
        strip_path: false

plugins:
  - name: prometheus
    config:
      status_code_metrics: true
      latency_metrics: true
      bandwidth_metrics: true
      upstream_health_metrics: true
