global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

rule_files:
  - /etc/prometheus/alert-rules.yml

scrape_configs:
{% for target in prometheus_targets %}
  - job_name: '{{ target.job }}'
{% if target.metrics_path is defined %}
    metrics_path: '{{ target.metrics_path }}'
{% endif %}
    static_configs:
      - targets: ['{{ target.host }}:{{ target.port }}']
{% endfor %}
